 <h1>Clients</h1>
    <form action="/salons" method="post">

        <label for="name">Stylist Name</label>
        <input id="name" name="name" type="text" class="form-control">
          <form action="/salon.vtl" method="post">
          <label for="name">Client Name</label>
          <input id="cname" name="cname" type="text" class="form-control">

<br>
        <button  type="submit" class="btn btn-basic"><h6>Submit</h6></button>

</div>