<a href="/salons">Click to add Stylists.</a>
<a href="/salons">Click to add Clients.</a>
<h1>Clients.</h1>
 <ol>

    #foreach ($salon in $salons)
        <li> <p>$salon.getname()-$salon.getgender();</p> </li>

     #end
     </ol>

 <h1> Clients</h1>
   <td>
     #foreach ($salon in $salons)
           <li> <p>$salon.getname()</li>
        #end
        </ol>

</table>
