<div class="jumbotron"><div id="align"><a class="animated fadeInUp" href="/Stylist">Stylists</a>
<span id="move">

<div class="animated fadeInUp"><a  href="/Client">Clients</a></span></div></div></div>

<h1 class="animated zoomIn" >THE HERO SALON</h1>
<div class="card bg-dark text-white" id="card">
<div class="card-body"><a href="display"><img src="http://guteshaaroel.de/wp-content/uploads/14-13-things-your-hairstylist-wont-tell-you-happy-client.jpg" width=300 height=300 alt=""></div>
<div class="card-footer">See Our Stylists</a></div></div>