<div class="jumbotron"><div id="align"><a class="animate fadeInUp" href="/Stylist">Stylists</a>
<span id="move">

<div class="animate fadeInUp"><a  href="/Client">Clients</a></span></div></div></div>

<h1 >THE HERO SALON</h1>

