<!DOCTYPE html>
       <html>
         <head>
           <title>herosquad</title>
           <link href="https://fonts.googleapis.com/css?family=Cinzel|Raleway" rel="stylesheet">
          <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
          <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">
            <link rel='stylesheet' href='/styles.css' >
         </head>
         <body>
           <div class="container">
             #parse( $template )
           </div>
         </body>
       </html>