<!DOCTYPE html>
       <html>
         <head>
           <title>herosalon</title>
          <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
           <link rel='icon' href="https://cdn3.iconfinder.com/data/icons/beauty-salon/231/beauty-services-002-512.png">
           <link href="https://fonts.googleapis.com/css?family=Cinzel|Raleway" rel="stylesheet">
          <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
          <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">
            <link rel='stylesheet' href='/styles.css' >
         </head>
         <body>
           <div class="container">
             #parse( $template )
           </div>
         </body>
       </html>