 <h1>STYLISTS</h1>
    <form action="/salons" method="post">

        <label for="name">Stylist Name</label>
        <input id="name" name="name" type="text" class="form-control">
        <br>
         <label for="gender">Gender</label>
         <select id="gender" name="gender">
              <option>Male<option>
              <option>Female<option>
        </select>

         <br>
        <button  type="submit" class="btn btn-default">Submit</button>
    </form>
</div>