body{
   background-size:100% 300%;
   background-repeat:no-repeat;
   color:black;
   font-family:Raleway;
   background-image:url("https://w-dog.net/wallpapers/15/4/414908232424268.jpg");
   background-size:cover;
   color:#9C3C06;
   font-size:150%;
}

h1{
font-family:Cinzel;
font-size:300%;
margin-left:10px;
color:white;
}
a{
color:black;
font-size:180%;
}
#align{
display:flex;
flex-direction:row;
}
#move{
margin-left:75%;
}
h2{
font-family:Raleway;
}
.jumbotron{
opacity:0.7;
}
#card{
width:26.3%;
}
img{
border-radius:150px;
}
.font{
font-size:150%;
}
.font2{
font-size:150;
}

a{
color:grey;
}
td{
font-size:150;
}
form{
font-size:150;
}
table td {
    font-size: 100%;
    font-weight: 300;
    background-color:white;
    opacity:0.7;
    color:black;

}
table th {
background-color:white;
opacity:0.7;
color:black;
text-shadow:0px 1px black;
}