body{
   background-size:100% 300%;
   background-repeat:no-repeat;
   font-size:200%;
   color:black;
   font-family:Raleway;
}

h1{
font-family:Cinzel;
font-size:300%;
}
a{
color:black;
font-size:100%;
}

